In [34]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.svm import SVC
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import validation_curve
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.metrics import roc_curve, auc
from xgboost import XGBClassifier
from sklearn.metrics import roc_auc_score, roc_curve

In [18]:
# Get train/test dfs

train_df = pd.read_csv('train.csv.zip', compression='zip')
test_df = pd.read_csv('test.csv.zip', compression='zip')

train_df

,id,product_code,loading,attribute_0,attribute_1,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,...,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17,failure
0,0,A,80.10,material_7,material_8,9,5,7,8,4,...,10.672,15.859,17.594,15.193,15.029,NaN,13.034,14.684,764.100,0
1,1,A,84.89,material_7,material_8,9,5,14,3,3,...,12.448,17.947,17.915,11.755,14.732,15.425,14.395,15.631,682.057,0
2,2,A,82.43,material_7,material_8,9,5,12,1,5,...,12.715,15.607,NaN,13.798,16.711,18.631,14.094,17.946,663.376,0
3,3,A,101.07,material_7,material_8,9,5,13,2,6,...,12.471,16.346,18.377,10.020,15.250,15.562,16.154,17.172,826.282,0
4,4,A,188.06,material_7,material_8,9,5,9,2,8,...,10.337,17.082,19.932,12.428,16.182,12.760,13.153,16.412,579.885,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26565,26565,E,158.95,material_7,material_6,6,9,6,16,4,...,NaN,12.177,17.942,10.112,15.795,18.572,16.144,NaN,729.131,0
26566,26566,E,146.02,material_7,material_6,6,9,10,12,8,...,11.242,14.179,20.564,10.234,14.450,14.322,13.146,16.471,853.924,0
26567,26567,E,115.62,material_7,material_6,6,9,1,10,1,...,11.407,16.437,17.476,8.668,15.069,16.599,15.590,14.065,750.364,0
26568,26568,E,106.38,material_7,material_6,6,9,2,9,4,...,11.392,17.064,17.814,14.928,16.273,15.485,13.624,12.865,730.156,0
26569,26569,E,131.20,material_7,material_6,6,9,6,19,1,...,10.611,15.603,19.703,11.006,15.875,13.366,16.527,17.890,602.354,0

In [7]:
test_df

,id,product_code,loading,attribute_0,attribute_1,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,...,measurement_8,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17
0,26570,F,119.57,material_5,material_6,6,4,6,9,6,...,18.654,10.802,15.909,18.070,13.772,13.659,16.825,13.742,17.710,634.612
1,26571,F,113.51,material_5,material_6,6,4,11,8,0,...,19.368,12.032,13.998,NaN,12.473,17.468,16.708,14.776,14.102,537.037
2,26572,F,112.16,material_5,material_6,6,4,8,12,4,...,17.774,11.743,17.046,18.086,10.907,13.363,15.737,17.065,16.021,658.995
3,26573,F,112.72,material_5,material_6,6,4,8,11,10,...,18.948,11.790,18.165,16.163,10.933,15.501,15.667,12.620,16.111,594.301
4,26574,F,208.00,material_5,material_6,6,4,14,16,8,...,19.141,12.370,14.578,17.849,11.941,16.070,16.183,13.324,17.150,801.044
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20770,47340,I,144.74,material_7,material_5,9,5,0,4,9,...,18.573,11.691,NaN,19.771,11.562,17.246,15.131,15.209,NaN,696.466
20771,47341,I,74.53,material_7,material_5,9,5,4,8,7,...,17.917,10.980,16.027,15.694,13.564,15.494,15.296,13.812,16.501,613.249
20772,47342,I,67.73,material_7,material_5,9,5,10,11,2,...,19.630,10.436,16.137,20.612,11.134,16.519,15.525,14.175,17.728,783.349
20773,47343,I,126.15,material_7,material_5,9,5,8,16,11,...,19.575,12.672,15.422,19.496,9.319,15.817,17.403,16.437,15.179,745.210
20774,47344,I,85.97,material_7,material_5,9,5,0,11,11,...,19.253,9.977,17.270,17.924,13.726,14.605,17.460,16.261,16.482,647.980

In [8]:
train_df.describe()

,id,loading,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,measurement_3,measurement_4,measurement_5,...,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17,failure
count,26570.000000,26320.000000,26570.000000,26570.000000,26570.000000,26570.000000,26570.000000,26189.000000,26032.000000,25894.000000,...,25343.000000,25270.000000,25102.000000,24969.000000,24796.000000,24696.000000,24561.000000,24460.000000,24286.000000,26570.000000
mean,13284.500000,127.826233,6.754046,7.240459,7.415883,8.232518,6.256568,17.791528,11.731988,17.127804,...,11.430725,16.117711,19.172085,11.702464,15.652904,16.048444,14.995554,16.460727,701.269059,0.212608
std,7670.242662,39.030020,1.471852,1.456493,4.116690,4.199401,3.309109,1.001200,0.996085,0.996414,...,0.999137,1.405978,1.520785,1.488838,1.155247,1.491923,1.549226,1.708935,123.304161,0.409160
min,0.000000,33.160000,5.000000,5.000000,0.000000,0.000000,0.000000,13.968000,8.008000,12.073000,...,7.537000,9.323000,12.461000,5.167000,10.890000,9.140000,9.104000,9.701000,196.787000,0.000000
25%,6642.250000,99.987500,6.000000,6.000000,4.000000,5.000000,4.000000,17.117000,11.051000,16.443000,...,10.757000,15.209000,18.170000,10.703000,14.890000,15.057000,13.957000,15.268000,618.961500,0.000000
50%,13284.500000,122.390000,6.000000,8.000000,7.000000,8.000000,6.000000,17.787000,11.733000,17.132000,...,11.430000,16.127000,19.211500,11.717000,15.628500,16.040000,14.969000,16.436000,701.024500,0.000000
75%,19926.750000,149.152500,8.000000,8.000000,10.000000,11.000000,8.000000,18.469000,12.410000,17.805000,...,12.102000,17.025000,20.207000,12.709000,16.374000,17.082000,16.018000,17.628000,784.090250,0.000000
max,26569.000000,385.860000,9.000000,9.000000,29.000000,29.000000,24.000000,21.499000,16.484000,21.425000,...,15.412000,22.479000,25.640000,17.663000,22.713000,22.303000,21.626000,24.094000,1312.794000,1.000000

In [19]:
# Explore unique entries in categorical columns:

cat_cols = ['product_code','attribute_0','attribute_1']

# For train set:
print('For train set:')
for col in cat_cols:
    print(col, train_df.loc[:,col].unique())

print('\nFor test set:')
# For test set:
for col in cat_cols:
    print(col, test_df.loc[:,col].unique())
    
# Notice that 'product_code' unique entries among train and test dataset are completely different:
# I remove this columnn
train_df = train_df.drop('product_code', axis = 1)
test_df = test_df.drop('product_code', axis = 1)
cat_cols.remove('product_code')

For train set:
product_code ['A' 'B' 'C' 'D' 'E']
attribute_0 ['material_7' 'material_5']
attribute_1 ['material_8' 'material_5' 'material_6']

For test set:
product_code ['F' 'G' 'H' 'I']
attribute_0 ['material_5' 'material_7']
attribute_1 ['material_6' 'material_7' 'material_5']

In [20]:
# train_df, 'attribute_1' column has one entry different than test_df (material_8 vs material_7):

# Let's see how many material_8 and material_7 entries there are.
# If they are few --> drop them

print('For train set:')
print(train_df['attribute_1'].value_counts())
print('\nFor test set:')
print(test_df['attribute_1'].value_counts())

# Rows are too many to be waisted.
# I will drop attribute_1 column too:
train_df = train_df.drop('attribute_1', axis = 1)
test_df = test_df.drop('attribute_1', axis = 1)
cat_cols.remove('attribute_1')

For train set:
material_8    10865
material_5    10362
material_6     5343
Name: attribute_1, dtype: int64

For test set:
material_6    10529
material_5     5228
material_7     5018
Name: attribute_1, dtype: int64

In [22]:
#Explore amount of nans among all columns:

print('for train_df:')
col_nans_train_df = []
for col in train_df.columns:
    N_nan = train_df[col].isnull().sum()
    col_nans_train_df.append(col)
    print(col, N_nan)

print('\nfor test_df:')
col_nans_test_df = []
for col in test_df.columns:
    N_nan = test_df[col].isnull().sum()
    col_nans_test_df.append(col)
    print(col, N_nan)
    
# Actions over Nans entries will be required

for train_df:
id 0
loading 250
attribute_0 0
attribute_2 0
attribute_3 0
measurement_0 0
measurement_1 0
measurement_2 0
measurement_3 381
measurement_4 538
measurement_5 676
measurement_6 796
measurement_7 937
measurement_8 1048
measurement_9 1227
measurement_10 1300
measurement_11 1468
measurement_12 1601
measurement_13 1774
measurement_14 1874
measurement_15 2009
measurement_16 2110
measurement_17 2284
failure 0

for test_df:
id 0
loading 223
attribute_0 0
attribute_2 0
attribute_3 0
measurement_0 0
measurement_1 0
measurement_2 0
measurement_3 329
measurement_4 409
measurement_5 508
measurement_6 624
measurement_7 720
measurement_8 846
measurement_9 904
measurement_10 1067
measurement_11 1136
measurement_12 1240
measurement_13 1303
measurement_14 1440
measurement_15 1542
measurement_16 1678
measurement_17 1740

In [23]:
# Get rid of the Nans:

# Categorical columns (they all have Nans):
train_df.loc[:,cat_cols] = train_df.loc[:,cat_cols].fillna(train_df.loc[:,cat_cols].mode().iloc[0])
test_df.loc[:,cat_cols] = test_df.loc[:,cat_cols].fillna(test_df.loc[:,cat_cols].mode().iloc[0])
    
# Numerical columns with nans (I choose substitution with mean value):
for CC in cat_cols:
        col_nans_train_df.remove(CC)
        col_nans_test_df.remove(CC)
train_df.loc[:,col_nans_train_df] = train_df.loc[:,col_nans_train_df].\
                                    fillna(train_df.loc[:,col_nans_train_df].mean())
test_df.loc[:,col_nans_test_df] = test_df.loc[:,col_nans_test_df].\
                                    fillna(test_df.loc[:,col_nans_test_df].mean())

In [24]:
# Switch categorical entries to numerical (ordinal encoding):
# Will test One_Hot encoding later on

ordinal_encoder = OrdinalEncoder()
train_df.loc[:,cat_cols] = ordinal_encoder.fit_transform(train_df.loc[:,cat_cols])
test_df.loc[:,cat_cols] = ordinal_encoder.transform(test_df.loc[:,cat_cols])

In [25]:
# Divide dataframes into X,y:

# Full dataframes (for final training for submission)
X_cols = train_df.columns.drop('failure')
X_train_all = train_df.loc[:,X_cols]
y_train_all = train_df.loc[:,'failure']
X_test_all = test_df

# Get partial train/test sets from train_df to explore different setupd of models/parameters.
X_train, X_test, y_train, y_test = train_test_split(X_train_all, y_train_all)

# Exploring fitting models:

Let's consider a kernelized SVM model:

In [28]:
# Let's tune C and gamma parameters at the same time:

C_vals = [0.1, 1.0, 10.]
gamma_vals = [0.01, 1.0, 10.0]
for C_val in C_vals:
    for gamma_val in gamma_vals:
        clf = SVC(kernel = 'rbf', C=C_val, gamma=gamma_val)
        clf.fit(X_train, y_train)
        y_pred_clf = clf.decision_function(X_test)
        
        clf_fpr, clf_tpr, threshold = roc_curve(y_test, y_pred_clf)
        auc_clf = auc(clf_fpr, clf_tpr)
        print('C = {:.2f}  gamma = {:.3f} -- > auc = {:.3f}'.format(C_val, gamma_val, auc_clf))
        
# Auc value only sllightly affected by choices of C and gamma parameters. All outcomes are not satisfying (close to 0.5)

C = 0.10  gamma = 0.010 -- > auc = 0.510
C = 0.10  gamma = 1.000 -- > auc = 0.500
C = 0.10  gamma = 10.000 -- > auc = 0.500
C = 1.00  gamma = 0.010 -- > auc = 0.511
C = 1.00  gamma = 1.000 -- > auc = 0.500
C = 1.00  gamma = 10.000 -- > auc = 0.500
C = 10.00  gamma = 0.010 -- > auc = 0.510
C = 10.00  gamma = 1.000 -- > auc = 0.500
C = 10.00  gamma = 10.000 -- > auc = 0.500

In [29]:
# Same as above but with adding MinMax scaler:

scaler = MinMaxScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

C_vals = [0.1, 1.0, 10.]
gamma_vals = [0.01, 1.0, 10.0]
for C_val in C_vals:
    for gamma_val in gamma_vals:
        clf = SVC(kernel = 'rbf', C=C_val, gamma=gamma_val)
        clf.fit(X_train_scaled, y_train)
        y_pred_clf = clf.decision_function(X_test_scaled)
        
        clf_fpr, clf_tpr, threshold = roc_curve(y_test, y_pred_clf)
        auc_clf = auc(clf_fpr, clf_tpr)
        print('C = {:.2f}  gamma = {:.3f} -- > auc = {:.3f}'.format(C_val, gamma_val, auc_clf))
        
# Re-scaling improves auc score only slightly.
# All outcomes are not satisfying (close to 0.50)

C = 0.10  gamma = 0.010 -- > auc = 0.485
C = 0.10  gamma = 1.000 -- > auc = 0.529
C = 0.10  gamma = 10.000 -- > auc = 0.537
C = 1.00  gamma = 0.010 -- > auc = 0.503
C = 1.00  gamma = 1.000 -- > auc = 0.528
C = 1.00  gamma = 10.000 -- > auc = 0.537
C = 10.00  gamma = 0.010 -- > auc = 0.511
C = 10.00  gamma = 1.000 -- > auc = 0.528
C = 10.00  gamma = 10.000 -- > auc = 0.525

Let's try gradient boosting:

In [36]:
n_est_vals = [350,500,750]
learning_rate_vals = [0.01, 0.05, 0.1, 0.5]

print('\nAuc score of XGBClassifier with specific parameters values: ')
for n_est_val in n_est_vals:
    for learning_rate_val in learning_rate_vals:
        clf = XGBClassifier(n_estimators=n_est_val, learning_rate = learning_rate_val, eval_metric='logloss')
        clf.fit(X_train, y_train, verbose=False)
        y_pred_clf = clf.predict_proba(X_test)[:, 1]
        
        clf_fpr, clf_tpr, threshold = roc_curve(y_test, y_pred_clf)
        auc_clf = roc_auc_score(y_test, y_pred_clf)
        
        print('n_estimators = {:.2f}  learning_rate = {:.2f} --> auc = {:.3f}'\
              .format(n_est_val, learning_rate_val, auc_clf))
        
# Definitely better results

Auc score of XGBClassifier with specific parameters values:
n_estimators = 350.00  learning_rate = 0.01 --> auc = 0.573
n_estimators = 350.00  learning_rate = 0.05 --> auc = 0.559
n_estimators = 350.00  learning_rate = 0.10 --> auc = 0.553
n_estimators = 350.00  learning_rate = 0.50 --> auc = 0.528
n_estimators = 500.00  learning_rate = 0.01 --> auc = 0.570
n_estimators = 500.00  learning_rate = 0.05 --> auc = 0.553
n_estimators = 500.00  learning_rate = 0.10 --> auc = 0.548
n_estimators = 500.00  learning_rate = 0.50 --> auc = 0.530
n_estimators = 750.00  learning_rate = 0.01 --> auc = 0.568
n_estimators = 750.00  learning_rate = 0.05 --> auc = 0.550
n_estimators = 750.00  learning_rate = 0.10 --> auc = 0.543
n_estimators = 750.00  learning_rate = 0.50 --> auc = 0.525

Let's try One_Hot encoding instead of Ordinal encoding (with gradient boosting):

In [38]:
# Get train/test dfs

train_df = pd.read_csv('train.csv.zip', compression='zip')
test_df = pd.read_csv('test.csv.zip', compression='zip')


# Explore unique entries in categorical columns:

cat_cols = ['product_code','attribute_0','attribute_1']
    
# Notice that 'product_code' unique entries among train and test dataset are completely different: I remove this columnn
train_df = train_df.drop('product_code', axis = 1)
test_df = test_df.drop('product_code', axis = 1)
cat_cols.remove('product_code')

# Rows are too many to be waisted.
# I will drop attribute_1 column too:
train_df = train_df.drop('attribute_1', axis = 1)
test_df = test_df.drop('attribute_1', axis = 1)
cat_cols.remove('attribute_1')


#Explore amount of nans among all columns:

col_nans_train_df = []
for col in train_df.columns:
    N_nan = train_df[col].isnull().sum()
    col_nans_train_df.append(col)

col_nans_test_df = []
for col in test_df.columns:
    N_nan = test_df[col].isnull().sum()
    col_nans_test_df.append(col)


# Get rid of the Nans:

# Categorical columns (they all have Nans):
train_df.loc[:,cat_cols] = train_df.loc[:,cat_cols].fillna(train_df.loc[:,cat_cols].mode().iloc[0])
test_df.loc[:,cat_cols] = test_df.loc[:,cat_cols].fillna(test_df.loc[:,cat_cols].mode().iloc[0])
    
# Numerical columns with nans (I choose substitution with mean value):
for CC in cat_cols:
        col_nans_train_df.remove(CC)
        col_nans_test_df.remove(CC)
train_df.loc[:,col_nans_train_df] = train_df.loc[:,col_nans_train_df].\
                                    fillna(train_df.loc[:,col_nans_train_df].mean())
test_df.loc[:,col_nans_test_df] = test_df.loc[:,col_nans_test_df].\
                                    fillna(test_df.loc[:,col_nans_test_df].mean())


# Apply One-Hot encoder:

# Apply one-hot encoder to each column with categorical data
OH_encoder = OneHotEncoder(handle_unknown='ignore', sparse=False)
OH_cols_train = pd.DataFrame(OH_encoder.fit_transform(train_df[cat_cols]))
OH_cols_test = pd.DataFrame(OH_encoder.transform(test_df[cat_cols]))

# One-hot encoding removed index; put it back
OH_cols_train.index = train_df.index
OH_cols_test.index = test_df.index

# Remove categorical columns (will replace with one-hot encoding)
num_train = train_df.drop(cat_cols, axis=1)
num_test = test_df.drop(cat_cols, axis=1)

# Add one-hot encoded columns to numerical features
OH_train_df = pd.concat([num_train, OH_cols_train], axis=1)
OH_test_df = pd.concat([num_test, OH_cols_test], axis=1)

# Divide dataframes into X,y:

# Full dataframes (for final training for submission)
X_cols = OH_train_df.columns.drop('failure')
X_train_all = OH_train_df.loc[:,X_cols]
y_train_all = OH_train_df.loc[:,'failure']
X_test_all = OH_test_df

# Get partial train/test sets from train_df to explore different setup of models/parameters.
X_train, X_test, y_train, y_test = train_test_split(X_train_all, y_train_all)

In [39]:
n_est_vals = [350,500,750]
learning_rate_vals = [0.01, 0.05, 0.1, 0.5]

print('\nAuc score of XGBClassifier with specific parameters values: ')
for n_est_val in n_est_vals:
    for learning_rate_val in learning_rate_vals:
        clf = XGBClassifier(n_estimators=n_est_val, learning_rate = learning_rate_val, eval_metric='auc')
        clf.fit(X_train, y_train, verbose=False)
        y_pred_clf = clf.predict_proba(X_test)[:, 1]
        
        clf_fpr, clf_tpr, threshold = roc_curve(y_test, y_pred_clf)
        auc_clf = roc_auc_score(y_test, y_pred_clf)
        
        print('n_estimators = {:.2f}  learning_rate = {:.2f} --> auc = {:.3f}'\
              .format(n_est_val, learning_rate_val, auc_clf))
        
# One-Hot encoder actually makes it worse

Auc score of XGBClassifier with specific parameters values:
n_estimators = 350.00  learning_rate = 0.01 --> auc = 0.584
n_estimators = 350.00  learning_rate = 0.05 --> auc = 0.563
n_estimators = 350.00  learning_rate = 0.10 --> auc = 0.549
n_estimators = 350.00  learning_rate = 0.50 --> auc = 0.522
n_estimators = 500.00  learning_rate = 0.01 --> auc = 0.581
n_estimators = 500.00  learning_rate = 0.05 --> auc = 0.557
n_estimators = 500.00  learning_rate = 0.10 --> auc = 0.542
n_estimators = 500.00  learning_rate = 0.50 --> auc = 0.521
n_estimators = 750.00  learning_rate = 0.01 --> auc = 0.578
n_estimators = 750.00  learning_rate = 0.05 --> auc = 0.551
n_estimators = 750.00  learning_rate = 0.10 --> auc = 0.537
n_estimators = 750.00  learning_rate = 0.50 --> auc = 0.518

# Final chosen model

XGBClassifier with n_estimators = 350.00  learning_rate = 0.01
with Ordinal encoder

Now let's train our model over the full training set

In [40]:
# Get train/test dfs

train_df = pd.read_csv('train.csv.zip', compression='zip')
test_df = pd.read_csv('test.csv.zip', compression='zip')


# Explore unique entries in categorical columns:

cat_cols = ['product_code','attribute_0','attribute_1']
    
# Notice that 'product_code' unique entries among train and test dataset are completely different: I remove this columnn
train_df = train_df.drop('product_code', axis = 1)
test_df = test_df.drop('product_code', axis = 1)
cat_cols.remove('product_code')

# Rows are too many to be waisted.
# I will drop attribute_1 column too:
train_df = train_df.drop('attribute_1', axis = 1)
test_df = test_df.drop('attribute_1', axis = 1)
cat_cols.remove('attribute_1')



#Explore amount of nans among all columns:

col_nans_train_df = []
for col in train_df.columns:
    N_nan = train_df[col].isnull().sum()
    col_nans_train_df.append(col)

col_nans_test_df = []
for col in test_df.columns:
    N_nan = test_df[col].isnull().sum()
    col_nans_test_df.append(col)



# Get rid of the Nans:

# Categorical columns (they all have Nans):
train_df.loc[:,cat_cols] = train_df.loc[:,cat_cols].fillna(train_df.loc[:,cat_cols].mode().iloc[0])
test_df.loc[:,cat_cols] = test_df.loc[:,cat_cols].fillna(test_df.loc[:,cat_cols].mode().iloc[0])
    
# Numerical columns with nans (I choose substitution with mean value):
for CC in cat_cols:
        col_nans_train_df.remove(CC)
        col_nans_test_df.remove(CC)
train_df.loc[:,col_nans_train_df] = train_df.loc[:,col_nans_train_df].\
                                    fillna(train_df.loc[:,col_nans_train_df].mean())
test_df.loc[:,col_nans_test_df] = test_df.loc[:,col_nans_test_df].\
                                    fillna(test_df.loc[:,col_nans_test_df].mean())

# Apply encoder:

ordinal_encoder = OrdinalEncoder()
train_df.loc[:,cat_cols] = ordinal_encoder.fit_transform(train_df.loc[:,cat_cols])
test_df.loc[:,cat_cols] = ordinal_encoder.transform(test_df.loc[:,cat_cols])

In [41]:
# Full dataframes (for final training for submission)
X_cols = train_df.columns.drop('failure')
X_train_all = train_df.loc[:,X_cols]
y_train_all = train_df.loc[:,'failure']
X_test_all = test_df

# Fit model and get predictions
clf = XGBClassifier(n_estimators=350, learning_rate = 0.01, eval_metric='auc')
clf.fit(X_train_all, y_train_all, verbose=False)
predictions = clf.predict_proba(X_test_all)[:, 1]

# Save to output
output = pd.DataFrame({'id': X_test_all['id'],
                       'failure': predictions})
output.to_csv('submission.csv', index=False)

The chosen model scored a ROC AUC value of about 0.60 when submitted to the competition.